* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    text-decoration: none;
  }

a:visited {
color: white;
text-decoration: none;
}

body {
    background-color: #12001B;
    color: white;
}

/* Partie principale */

header {
    background-image: url("../images/3.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-top: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

#titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
    font-size: 30px;
}

#titre h2{
    margin: 50px;
}

.titre2 {
    margin: 50px;
    font-size: 50px;
}

#header-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-button button {
    width: 300px;
    height: 70px;
    border-radius: 5px;
    border:none;
    margin: 60px 20px 0 20px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#contact {
    background: linear-gradient(0.25turn,#F145E0, #6E00FB);
    cursor: pointer;
}

#plus {
    background: black;
    cursor: pointer;
}

/* Section "Qui je suis" */

#qui {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

#qui img {
    width: 200px;
    height: 200px;
    border: 6px white solid;
    border-radius: 100px;
    margin-right: 150px;
}

#quitext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0px;
    margin-top: 0px;
    width: 280px;
    text-align: justify;
    line-height: 1.5;
}

#quitext h3 {
    font-size: 50px;
    padding-top: 0px;
}

#quitext p {
    margin-top: 20px;
    font-weight: lighter;
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 280px;
    margin-top: 20px;
}
#icons img {
    width: 36px;
    height: 36px;
    border: none;
    margin-right: 0px;
}

/* Languages maitrisés */ 

#outils-container {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#outils {
    width: 770px;
    height: 80px;
    padding: 50px auto  ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #220133;
    border-radius: 10px;
}

#outils img {
    width: 60px;
    height: 60px;
    border: none;
    margin-right: 0px;
}

#experiences {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#experiences-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#experiences-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    padding-top: 50px;
}

#experiences-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: justify;
}

#experiences-card p{
    padding-top: 30px;
    font-weight: lighter;
    line-height: 1.5;
}

#experiences-card span {
    color: grey;
}

#etudes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#etudes h2 {
    margin-top: 100px;
}

#etudes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    padding-top: 30px;
}

#etudes-card-1 {
    width: 350px ;
    height: 413px;
    border-radius: 15px;
    background: linear-gradient(0.10turn,#490092, #DA19C6);
}

#etudes-card-2 {
    width: 350px ;
    height: 413px;
    border-radius: 15px;
    background: linear-gradient(0.10turn,#FFC700, #f45c45);
}

.etudes-card-text{
    margin: 30px auto 30px auto;
    width: 250px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    text-align: justify;
    line-height: 2;
}

.etudes-card-text p{
    padding-top: 20px;
    font-weight: lighter;
}

/* Portfolio */ 

#portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolio h2{
    margin-top: 70px;
}

#portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 900px;
}

#portfolio-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 350px;
    margin: 20px 0 20px 0;
    border: 1px solid;
    border-image: linear-gradient(45deg, #490092, #DA19C6) 1;
    border-radius: 10px;
    font-weight: lighter;
    cursor: pointer;
}

#portfolio-card h1 {
    font-weight: lighter;
}

footer {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    background-color: #220133;
    height: auto;
}

#end-links {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#end-links a{
    margin: 20px;
    font-weight: lighter;
}